<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="ABP Commercial NuGet Source" value="https://nuget.abp.io/826516de-4e14-49a1-abe1-f7868908eee4/v3/index.json" />
  </packageSources>
</configuration>